target/*.*
/target/
*/target/
*/.settings/*.*
.settings/*.*
*/.docx/
.idea
.gradle
.git
.metadata
.recommenders
tmp/
libs/
RemoteSystemsTempFiles/
*/*.class
*/*.jar
*.classpath
*/*.classpath
.project
*/*.project
